extends layout

block content
	.jumbotron
		.container
			h1 How may i help you?
			p This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
			a.btn.btn-lg.btn-primary(href='#') View navbar docs »