extends layout

block content
	.jumbotron
		.container
			h1 How may i help you?
			p This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.
			a.btn.btn-lg.btn-primary(href='#') View navbar docs »

	.container
		.row
			.col-md-4
				h2 Heading
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				a.btn.btn-default(href='#', role='button') View details »
			.col-md-4
				h2 Heading
				p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
				a.btn.btn-default(href='#', role='button') View details »
			.col-md-4
				h2 Heading
				p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
				a.btn.btn-default(href='#', role='button') View details »
		

